<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to "Home", homes_path, class: "no-underline" %>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "no-underline nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "Registrar", new_user_registration_path, class: "no-underline nav-link active" %>

        </li>
      </ul>
    </div>
  </div>
</nav>